<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hangman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.hangman.MainActivity"
            android:label="@string/main_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hangman.AboutActivity"
            android:label="@string/about"></activity>
        <activity
            android:name="com.example.hangman.GameActivity"
            android:label="@string/game"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:parentActivityName="com.example.hangman.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangman.MainActivity" />
        </activity>
        <activity
            android:name="com.example.hangman.ResultActivity"
            android:label="@string/result"
            android:parentActivityName="com.example.hangman.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangman.MainActivity" />
        </activity>
    </application>

</manifest>